  server {
    listen 9004;
    server_name {{HOSTNAME}};
    root /var/www/webgrind;
    index index.php;
 
    client_max_body_size 1500M;

    proxy_set_header   Host             $host;
    proxy_set_header   X-Real-IP        $remote_addr;
    proxy_set_header  X-Forwarded-For  $proxy_add_x_forwarded_for;
    proxy_redirect  off;
    proxy_read_timeout 120;
    proxy_pass_header Expires;
    proxy_pass_header Cache-Control;
    proxy_pass_header Last-Modified;
    proxy_pass_header ETag;
    proxy_pass_header Content-Length;

    location ~ (\.php|\.gitignore|\.sql|\.sh|\.conf|\.htaccess)$ { deny all; break; }
    location ~ /\. { access_log off; log_not_found off; deny all; }

    location / { try_files $uri $uri/ /index.php$is_args$args; }
    location = /index.php { fastcgi_pass php-fpm-tcp; include fastcgi_params; }
  }
}
